<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <img src="assets/img/brand.png" alt="">
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>all_inclusive</mat-icon>
            <span>Opción 1</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>all_inclusive</mat-icon>
            <span>Opción 2</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>all_inclusive</mat-icon>
            <span>Opción 3</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Ayuda</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
           <img src="assets/img/Logo-Nestle2.png" alt="">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
