<div class="card">
    <div class="card-body">
      <div>
        <h2 align="center">Iniciar sesión</h2>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput >
          <mat-hint>Usuario</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Contraseña</mat-label>
          <input matInput >
          <mat-hint>Contraseña</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="primary">Primary</button>
    </div>
</div>
