.card{
    border: 1px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 10px 10px -6px rgb(35, 35, 35);
}

.card-body{
    align-items: center;
}

.boton{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 28px;
    margin-right: 140px;
    width: 240px;
}

mat-form-field{
    width: 250px;
    margin-left: 5px;
}


