<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="tabla">
        <div class="card">
          <div class="card-body">
            <div class="contenedor">
              <form class="example-form">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Filtrar</mat-label>
                  <input type="text"
                         placeholder=""
                         aria-label="Number"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <div class="boton">
                <button mat-raised-button color="primary">Nuevo</button>
              </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
      <div class="col-md-2">
        <div class="botones">
          <div class="card">
            <div class="card-body">
              <div>
                <button mat-raised-button color="primary">Ver <br> Modificar</button>
              </div>
              <div>
                <button mat-raised-button color="primary">Eliminar</button>
              </div>
              <div>
                <button mat-raised-button color="primary">Unificar</button>
              </div>
              <div>
                <button mat-raised-button color="primary">Cerrar</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    
   
    <div class="col-md-4">
      <div class="tabla">
        <div class="card">
          <div class="card-body">
            <div class="contenedor">
              <form class="example-form">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Filtrar</mat-label>
                  <input type="text"
                         placeholder=""
                         aria-label="Number"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
            
            <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="botones2">
        <div class="card">
          <div class="card-body">
            <div>
              <button mat-raised-button color="primary"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Observaciones</button>
            </div>
            <div>
              <button mat-raised-button color="primary">Registrar ingreso <br> de equipo</button>
            </div>
            <div>
              <button mat-raised-button color="primary">Registrar ingreso <br> de químico</button>
            </div>
            <div>
              <button mat-raised-button color="primary">Ver listado de <br> ingresos</button>
            </div>
            <div>
              <button mat-raised-button color="primary">Informe</button>
            </div>
          </div>
        </div>
            
      </div>
     
    </div>

  </div>
</div>








